/AddStudentController.class
/NewEntityController.class
/ButtonPotvrdiCotrollerProf.class
/ButtonPotvrdiControllerProf.class
/ButtonOdustaniControllerProf.class
/AddPredmetController.class
/DeleteEntityController.class
